* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 12px;
  font-weight: 600;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.6);
  color: #cdd6f4;
}

#workspaces button {
  padding: 0.2rem 0.6rem;
  margin: 0.2rem 0.1rem;
  border-radius: 10px;
  background-color: transparent;
  color: #cdd6f4;
}

#workspaces button:hover {
  color: #89b4fa;
}

#workspaces button.active {
  color: #89b4fa;
  border-bottom: 2px solid #89b4fa;
}

#workspaces button.urgent {
  color: #f38ba8;
}

#clock,
#pulseaudio,
#network,
#battery,
#cpu,
#memory,
#custom-notification,
#custom-power,
#window,
#mpris,
#tray {
  padding: 0 8px;
  margin: 0 2px;
  border-radius: 10px;
  background-color: transparent;
}

#custom-sep {
  padding: 0 5px;
  margin: 0 2px;
  color: #585b70;
}

window#waybar.empty #window {
  background-color: transparent;
}

tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  color: #cdd6f4;
  border-radius: 5px;
  padding: 5px 10px;
}
